<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ email }}</p>
</div>

<article class="about">
  <h2>Sobre Mi</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi doloribus
    labore similique aut minus harum, eveniet tenetur perferendis dolore! Nisi
    odit repellendus quos doloribus quia provident quisquam veritatis ipsum
    minus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae,
    voluptatibus distinctio quam illo velit in omnis exercitationem harum nobis
    fuga numquam quidem explicabo sapiente ipsam, voluptatem magnam ea rem
    similique? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Reprehenderit quaerat, voluptatem doloribus harum impedit ea ut odit nostrum
    nulla ducimus eum quasi recusandae eveniet quae quos facere. Quidem,
    consequatur earum. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Voluptas iure in molestias quam odio at quos corrupti temporibus. Blanditiis
    odio, voluptatem illo vitae quas nobis labore perferendis vel culpa
    excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,
    quisquam accusantium non autem commodi obcaecati deleniti totam
    necessitatibus a quod optio excepturi hic blanditiis inventore incidunt iste
    eos cum corrupti!
  </p>
</article>
